#!/usr/bin/env python
# Copyright (C) 2015 CentraleSupélec
# All rights reserved
PACKAGE = "hand_control"
from dynamic_reconfigure.parameter_generator_catkin import *
gen = ParameterGenerator()
gen.add("reverse", bool_t, 0, "Pose the kinect in parallel with the arm")
gen.add("reverse_angle", bool_t, 0, "Change the angle sign")
exit(gen.generate(PACKAGE, "hand_control", "Estimator"))
