
<launch>

  <include file="$(find hand_control)/launch/all-param.launch" />

  <include file="$(find hand_control)/launch/freenect-registered-xyzrgb.launch"/>

  <node name="filtre" pkg="hand_control" type="filtre">
    <remap from="/filtre/input" to="/camera/xyzrgb/points"/>
  </node>

  <node name="estimator" pkg="hand_control" type="normal_estimator">
    <remap from="/estimator/input" to="/filtre/output"/>
  </node>

  <node name="commander" pkg="hand_control" type="commande-new">
    <remap from="/commande/input" to="/estimator/output"/>
  </node>

</launch>
