
<launch>

  <include file="$(find hand_control)/launch/freenect-registered-xyzrgb.launch"/>

  <node name="filtre_z" pkg="hand_control" type="filtre">
    <remap from="/filtre/input" to="/camera/xyzrgb/points"/>
  </node>

  <param name="/filtre/zmax" value="0.9" type="double"/>

  <node name="normal_estimator" pkg="hand_control" type="normal_estimator">
    <remap from="/estimator/input" to="/filtre/output"/>
  </node>


</launch>
