<launch>

  <node name="filtre_z" pkg="hand_control" type="filtre">
    <remap from="/filtre/input" to="/random_pcl"/>
  </node>

  <param name="/random/freq" value="10.0" type="double" />
  <param name="/random/length" value="25" type="int" />
  <node name="publisher" pkg="hand_control" type="random_pcl_publisher" >
    <remap from="/random/output" to="/random_pcl"/>
  </node>

  <node name="estimator" pkg="hand_control" type="normal_estimator">
    <remap from="/estimator/input" to="/filtre/output"/>
  </node>

  <param name="/commande/min_number" value="5" type="int"/>
  <param name="/commande/x_dev_min" value="0." type="double"/>
  <param name="/commande/y_dev_min" value="0." type="double"/>
  <param name="/commande/dz_dev_min" value="0." type="double"/>
  <param name="/commande/max_curv" value="0.3" type="double"/>
  <node name="commande" pkg="hand_control" type="commande">
    <remap from="/commande/input" to="/estimator/output"/>
  </node>

</launch>
